<app-header></app-header>
<div class="site-section">
  <div class="table-responsive-md">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Ticket Number</th>
          <th scope="col">Ticket Name</th>
          <th scope="col">Ticket Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets">
          <th>{{ticket.id}}</th>
          <td>{{ticket.name}}</td>
          <td>{{ticket.price | currency}}</td>
          <td><app-stripe-payment [ticket]="ticket" 
            (ticketSoldOut)="onTicketSoldOut($event)"></app-stripe-payment></td>
          <!-- <td><button id="{{ticket.id}}" class="submit-form-btn" type="submit">Buy</button></td> -->
        </tr>
      </tbody>
      <thead class="table-dark">
        <tr>
          <th scope="col"><button (click)="previous()" class="previous-btn">Previous</button></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"><button (click)="next()" class="previous-btn">Next</button></th>
        </tr>
      </thead>
    </table>
    </div>
    <div class="row mb-5">
      <div class="col">
        <button class="btn-eazybank" routerLink="/sellticket">
          BACK
        </button>
      </div>
    </div>
</div>
